
@{
    ViewBag.Title = "Mapup";
}
<head>
    <title></title>


    @*<link href="~/Content/jquery-easyui-1.5.5/themes/default/easyui.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/jquery-easyui-1.5.5/themes/icon.css" rel="stylesheet" />
        <script src="~/Content/jquery-easyui-1.5.5/jquery.min.js"></script>
        <script src="~/Content/jquery-easyui-1.5.5/jquery.easyui.min.js"></script>
        <script src="~/Content/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/Content/jquery-easyui-1.5.5/locale/easyui-lang-zh_CN.js"></script>*@
    <link href="~/Content/jquery-easyui-1.5.5/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.5.5/themes/icon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/libs/fontawesome-free-5.9.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/libs/metismenu-master/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/libs/web-icons-master/css/web-icons.css" rel="stylesheet" />
    <link href="~/Content/css/core.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <!--js-->
    @*<script src="~/Content/js/router.js"></script>*@
    <script src="~/Content/libs/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/Content/libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>

    <script src="~/Content/libs/metismenu-master/metisMenu.min.js"></script>

    <script src="~/Content/libs/bootstrap-master/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="~/Content/jquery-easyui-1.5.5/jquery.easyui.min.js"></script>

    <script src="~/Content/jquery-easyui-1.5.5/locale/easyui-lang-zh_CN.js"></script>
</head>

<body>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">警告</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">保存失败</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">警告</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">保存成功</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <form id="student_sfm" method="post" enctype="multipart/form-data">
        <table cellspacing="8" style="margin:50px 0px 0px 20px;">
            <tr>
                
                <td colspan="3">
                    图　　片：
                    <input id="file" type="file" name="file" onchange="showPreview(this)" class="btn btn-animate" data-options="buttonText:'浏　览'" />
                    <a class="btn btn-primary" href="javascript:saveStudent();" iconCls="icon-ok">保存</a>

                </td>
            </tr>
            <tr>
                <td>
                    <div style="border:#9dcfff solid 1px; width:700px;height:450px;">
                        <img id="portrait" src="" style="display:none;width:700px;height:450px;" />
                    </div>
                </td>
            </tr>
        </table>
    </form><div id="student-dlg-buttons">
    @*<a class="btn btn-primary" href="javascript:saveStudent();" iconCls="icon-ok">保存</a>*@
    @*<img id="portrait"  class="img-thumbnail">*@
</div>
    <script>
        function showPreview(source) {
            var file = source.files[0];
            if (window.FileReader) {
                var fr = new FileReader();
                console.log(fr);
                var portrait = document.getElementById('portrait');
                fr.onloadend = function (e) {
                    portrait.src = e.target.result;
                };
                fr.readAsDataURL(file);
                portrait.style.display = 'block';
            }
        }
        $(function () {
            $("#io").click(function () {
                saveStudent();
            })
        })
        // 保存图片
        function saveStudent() {
            $("#student_sfm").form("submit", {
                url: "/Home/SaveImage", // 上传图片链接
                success: function (result) {
                    if (result == "success") {
                        $('#myModal2').modal("show");

                        @*document.getElementById('img1').src = @ViewData["qw"];*@
                        resetForm();
                    } else if (result == "error") {
                        $('#myModal1').modal("show");
                        return;
                    }
                }
            })
             
        }

        // 清空表单数据
        function resetForm() {
            $("#student_sfm").form('clear');
           
        }
    </script>


</body>
